<app-nav></app-nav>
<div class="container">
    <h1 class="bg-dark text-white text-center mt-5 border-2">Hardware Item</h1>
    <form>
        <div class="form-group mt-3">
          <label for="exampleInputEmail1">Item Id</label>
          <input type="text" class="form-control" id="itemId" aria-describedby="emailHelp" placeholder="">
          
        </div>
        <div class="form-group mt-3">
          <label for="exampleInputPassword1">Name</label>
          <input type="text" class="form-control" id="itemName" placeholder="">
        </div>
        <div class="form-group mt-3">
            <label for="exampleInputPassword1">Rental Per Day</label>
            <input type="number" class="form-control" id="itemName" placeholder="">
        </div>
        <div class="form-group mt-3">
            <label for="exampleInputPassword1">Fine Per Day</label>
            <input type="number" class="form-control" id="itemName" placeholder="">
        </div>
        <div class="form-group mt-3">
            <label for="exampleInputPassword1">Availability</label>
            <input type="text" class="form-control" id="itemName" placeholder="">
        </div>  
       
        <tr class="d-flex justify-content-between mt-4">
            <th> <button type="submit" class="btn btn-dark">Add</button></th>
            <th> <button type="submit" class="btn btn-dark">Update</button></th>
            <th> <button type="submit" class="btn btn-dark">Delete</button></th>
            <th> <button type="submit" class="btn btn-dark">Search</button></th>
         </tr>

      </form>
</div>
