<ul class="nav justify-content-center">
    <li class="nav-item">
      <button class="nav-link active" aria-current="page" >Active</button>
    </li>
    <li class="nav-item">
      <button class="nav-link" [routerLink]="['/add-customer']">Add Customer</button>
    </li>
    <li class="nav-item">
      <button class="nav-link"  [routerLink]="['/add-hardware-item']">Add Hardware Item</button>
    </li>
    <li class="nav-item">
      <button class="nav-link disabled" aria-disabled="true">Disabled</button>
    </li>
  </ul>